html {
    background-color:whitesmoke;
    border: 2px dotted violet; 
}

body {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: whitesmoke;
    border: 2px dotted cyan;
}

div{
    width: 120px;
    height: 80px;
    display: block;
    align-items: center;
    border: 2px solid black;
    margin: 20px auto;
    border-radius: 10%;
}

#Square1 {
    background-color: red;
}

#Square2 {
    background-color: blue;
}

#Square3 {
    background-color: yellow;
}

#Square4 {
    background-color: green;
}