html {
    background-color:dodgerblue; 
}

body {
    width: 60%;
    margin: 0 auto;
    background-color: limegreen;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 10px ridge orange;
}

#mainHeader{
    color: blue;
}

#secondaryHeader {
    color:red;
}